.email{
    width: 100%;
    position: sticky;
    top: 1;
    display: grid;
    background-color: rgb(237, 235, 235);
    font-size: 13px;
    font-family: sans-serif;
    color: #121212;
    text-indent: 3%;
    height: 20px;
    margin-top: 5px;
    padding-top: 5px;
}
body{
    margin: 0px;
}
#logo{
    width: 10%;
    display: flex;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0%;
    background-color: white;
}
.logo{
    background-color: white;
    position: sticky;
    top: 2%;
}
.menu{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left:  0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    position: sticky;
    top: 45px;
    background-color: white;
}
.menu li{
    display: inline;
    padding: 10px;
    margin-bottom: 0%;
}
.menu li a{
    text-decoration: solid;
    color: #000000;
    font-size: 16px;
    padding: 4px;
    font-family: sans-serif;
}
.menu li a:hover{
    color: rgb(254, 0, 0);
}
#menu{
    display: flex;
    align-items: center;
}
.dropdown1 , .dropdown2 , .dropdown3 , .dropdown4 , .dropdown5 , .dropdown6 , .dropdown7 , .dropdown8{
    position: relative;
    display: inline-block;
}
.dropdown1-content , .dropdown2-content , .dropdown3-content , .dropdown4-content , .dropdown5-content , .dropdown6-content , .dropdown7-content , .dropdown8-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px;
    z-index: 1;
}
.dropdown1-content li , .dropdown2-content li, .dropdown3-content li , .dropdown4-content li, .dropdown5-content li , .dropdown6-content li, .dropdown7-content li , .dropdown8-content li{
    padding: 5px;
}
.dropdown1-content li a , .dropdown2-content li a, .dropdown3-content li a , .dropdown4-content li a, .dropdown5-content li a , .dropdown6-content li a, .dropdown7-content li a , .dropdown8-content li a{
    color: black;
    padding: 1px;
    font-size: 13px;
    margin-left: 5px;
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown1-content , .dropdown2:hover .dropdown2-content, .dropdown3:hover .dropdown3-content , .dropdown4:hover .dropdown4-content, .dropdown5:hover .dropdown5-content , .dropdown6:hover .dropdown6-content, .dropdown7:hover .dropdown7-content , .dropdown8:hover .dropdown8-content{
    display: block;
}
#search{
    display: flex;
    align-items: center;
}
#search-items{
    margin-right: 5px;
}
#search-button{
    margin-left: 5px;
    background-color: black;
    color: white;
}
.delivery{
    display: flex;
    margin-left: 38%;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif ;
}
.delivery p{
    animation: slideIn 2s forwards;
    animation-delay: 0s,2s;
}
#front{
    display: flex;
    width: 100%;
}
#first{
    display: flex;
    padding: 5px;
    width: 30%;
    margin-right: 0px;
}
#second{
    display: flex;
    padding: 5px;
    width: 30%;
}
.imgs{
    position: relative;
    overflow: hidden;
    
}
.imgs ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    margin-left: 30px;
}

.imgs li {
    display: inline; /* Ensure list items are inline */
    overflow: hidden;
}

.imgs img {
    width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    overflow: hidden;
}
#first,#second,#third,#fourth,#fifth,#sixth{
    padding: 5px;
    width: 90%;
    gap: 15px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}
#first:hover,#second:hover,#third:hover,#fourth:hover,#fifth:hover,#sixth:hover{
    transform: scale(1.2); 
    overflow: hidden;
}
#second{
    width: 88%;
}

.imgs1{
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    margin-left: -3px;
    overflow: hidden;
}

.imgs1 li {
    display: inline; /* Ensure list items are inline */
}

.imgs1 img {
    width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
}
#fourth,#fifth,#sixth{
    padding: 8x;
    width: 90%;
}
#fifth{
    width: 91%;
    height: 98%;
    margin-left: -2px;
}
#sixth{
    margin-left: 13px;
    width:89%;
}
#seventh{
    width: 100%;
}
#s1,#s2,#s3,#s4{
    padding: 0px;
    display: inline;
    width: 25%;
}
#s4{
    width: 24%;
}
#tags{
    font-size: 14px;
    font-family: sans-serif;
    color: #121212;
    text-decoration: double;
}
#bac{
    width: 100%;
}
#c1,#c2,#c3,#c4{
    padding: 0px;
    display: inline;
    width: 25%;
}
#c4{
    width: 24%;
}
#e1,#e2{
    padding: 5px;
    width: 49%;
    display: inline;
    opacity: 1;
}
#e1:hover,#e2:hover{
    opacity: 0.5;
}
#e3{
    width: 25%;
}
#search{
    display: flex;
    align-items: center;
}
#emailadd{
    margin-right: 5px;
    padding: 10px;
    margin: 10px;
    margin-left: 45%;
}
#button{
    margin-left: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
}
#sign{
    margin-left: 45%;
}
#logo2{
    margin-left: 48%;
}
#f1{
    margin-left: 2%;
}
.footer{
    background-color: rgb(214, 213, 213);
}